html {
	font-family: sans-serif;
	font-size: 1vmax;
	background-image: url('https://images8.alphacoders.com/370/thumb-1920-370799.jpg');
}

h1 {
	color: white;
	text-align: center;
}

/* TEXT FOR LOGIN FORM */

h4 {
	border: 20px solid #333;
	background-color: #333;
	color: white;
	font-size: 2em;
	text-align: center;
}

/* FORM */

form.logform {
	background: #DEB887;
	border: 10px dashed wheat;
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}

input.mybar {
	width: 60%;
	height: 3%;
	margin: 2%;
}

label.mytext {
	font-size: 1.5em;
}

input.mybutton {
	background-color: wheat;
	color: #fff;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

input.mybutton:hover {
	color: black;
	background-color: #DEB887;
}

center {
	margin: 1%;
}

a.mylink {
	position: absolute;
	bottom: 10%;
	border: 10px solid #333;
	background: #333;
	color: white;
}

a.mylink:hover {
	background-color: black;
	border: 10px solid black;
}

/*  NAV  */

ul.topnav {
	color: white;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.topnav img {
	width:7em;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-color: #111;
}

ul.topnav li a.active {
	background-color: #4CAF50;
}

ul.topnav li.right {
	float: left;
}

@media screen and (max-width: 600px){
	ul.topnav,
	ul.topnav li {
		float: none;
	}
}

/* WRAPPER */

.wrapper {
	margin-top:2%;
	margin-bottom:2%;
}

/* CONTENT */

.content {
	margin-right: 5%;
	margin-left: 5%;
}

/* FOOTER */

ul.footer {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
	background-color: #333;
	display: flex;
}

ul.footer li {
	float: left;
	margin-right: 10px;
}

@media screen and (max-width: 600px){
	ul.footer,
	ul.footer li {
		float: none;
	}
}

/* Menu */

a.home {
	padding-top:49%;
}

.wrapper img#myhome {
	width:75%;
}

.wrapper img#mypics {
	position: absolute;
	width: 17%;
	margin-top: 3.5%;
	margin-left: 3.5%;
}

.wrapper img#mygallery {
	width: 20%;
	margin-bottom: 3.5%;
	margin-left: 3.5%;
}

img#myhome:hover {
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
	box-shadow: 10px 10px 5px black
}

img#mypics:hover {
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
	box-shadow: 10px 10px 5px black
}

img#mygallery:hover {
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
	box-shadow: 10px 10px 5px black
}

@media screen and (min-width: 1500px){
	.wrapper img#myhome {
		width: 100%;
	}
}

@media screen and (min-width: 1500px){
	.wrapper img#mygallery {
		width: 21%;
		position: relative;
		display: block;
		margin-left: auto;
		margin-top: 2%;
		margin-right: auto;
	}
}

@media screen and (min-width: 1500px){
	.wrapper img#mypics {
		width: 21%;
		position: relative;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 600px){
	.wrapper img#mypics {
		width: 31%;
		position: relative;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 600px){
	.wrapper img#mygallery {
		width: 31%;
		position: relative;
		display: block;
		margin-left: auto;
		margin-top: 2%;
		margin-right: auto;
	}
}

@media screen and (max-width: 600px){
	.wrapper img#myhome {
		width: 100%;
	}
}

/* COLUMS */

.container {
	margin-top: 3%;
}

.column {
	float: left;
	position: relative;
	width: 20%;

	/*for demo purposes only */
	background: #f2f2f2;
	border: 1px solid #e6e6e6;
	box-sizing: border-box;
}

.column-offset-1 {
	left: 20%;
}
.column-offset-2 {
	left: 40%;
}
.column-offset-3 {
	left: 60%;
}
.column-offset-4 {
	left: 80%;
}

.column-inset-1 {
	left: -20%;
}
.column-inset-2 {
	left: -40%;
}
.column-inset-3 {
	left: -60%;
}
.column-inset-4 {
	left: -80%;
}

/* PICTURES */

.aside {
	max-width: 25%;
}

.aside2 {
	flex: 1 auto;
	max-width: none;
}

@media all and (max-width: 850px) {
	.aside {
		flex: 1 auto;
		max-width: none;
	}
}

#snap {
	margin: auto;
}

#video {
	margin-bottom: 3%;
}

#canvasvideo {
	position: absolute;
	top: 131px;
	width: 640px;
	height: 480px;
}

.videobox {
	background: #DEB887;
	border: 10px dashed wheat;
	width: 640px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}

.container {
	flex-wrap: wrap;
	display: flex;
}

.fleximgbox {
	margin: 5px;
	background: #fff;
	border: 10px solid #fff;
}

.button {
	background-color: wheat;
	color: #fff;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

.button:hover {
	color: black;
	background-color: #DEB887;
}

.form {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

label.logo42 {
	position: absolute;
	top: 9%;
}

label.banane {
	position: absolute;
	top: 25%;;
}

label.beard {
	position: absolute;
	top: 42%;
}

label.lunette {
	position: absolute;
	right: 1%;
	top: 9%
}

label.moustache {
	position: absolute;
	right: 1%;
	top: 25%;
}

label.barbe {
	position: absolute;
	right: 1%;
	top: 42%;
}

@media all and (max-width: 1000px) {
	label.logo42, label.banane,
	label.beard, label.lunette,
	label.moustache, label.barbe {
		position: relative;
	}
}
